#square {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: square;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
    float: left;
    box-shadow: 5px 5px 5px grey;
  } 
  
  @keyframes square {
    0%   {background-color: #cc33ff; width: 100px; height: 100px;}
    20%  {background-color: #ff66cc; width: 200px; height: 200px;}
    40%  {background-color: #66ffff; width: 300px; height: 300px;}
    60%  {background-color: #ffff33; width: 400px; height: 400px;}
    80%  {background-color: #E5E5E5; width: 200px; height: 200px;}
    100% {background-color: #cc33ff; width: 100px; height: 100px;}
  }
  
  #rectangle {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    background-color: black;
    animation-name: rectangle;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
    float: left;
    box-shadow: 5px 5px 5px grey;
  }
  
  @keyframes rectangle {
    0%   {background-color: #c90000; width: 200px; height: 100px;}
    20%  {background-color: #c72033; width: 300px; height: 150px;}
    40%  {background-color: #c54066; width: 400px; height: 200px;}
    60%  {background-color: #c36099; width: 500px; height: 250px;}
    80%  {background-color: #c180cc; width: 300px; height: 150px;}
    100% {background-color: #c90000; width: 200px; height: 100px;}
  }
  
  #trapezoid {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: 100px solid black;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    animation-name: trapezoid;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
    clear: both;
    float: left;
    
  }
  
  @keyframes trapezoid {
    0%   {
            border-bottom: 100px solid #0a8913;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
        }
    20%  {
            border-bottom: 200px solid #409dd6;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
        }
    40%  {
            border-bottom: 300px solid #96600d;
            border-left: 75px solid transparent;
            border-right: 75px solid transparent;
        }
    60%  {
            border-bottom: 400px solid #ddb66a;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
        }
    80%  {
            border-bottom: 200px solid #d4a207;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
          }
    100% {
            border-bottom: 100px solid #0a8913;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
          }
  }
  
  #parallelogram {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    height: 100px;
    transform: skew(20deg);
    background-color: black;
    float: left;
    animation-name: parallelogram;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
    float: left;
  }
  
  @keyframes parallelogram {
    0%   {background-color: #460a18; transform: skew(20deg)}
    20%  {background-color: #350812; transform: skew(-40deg)}
    40%  {background-color: #23050c; transform: skew(60deg)}
    60%  {background-color: #120206; transform: skew(-80deg)}
    80%  {background-color: #000000; transform: skew(40deg)}
    100% {background-color: #460a18; transform: skew(20deg)}
  }
  
  #circle {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    clear: both;
    float: left;
    animation-name: circle;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
    box-shadow: 5px 5px 5px grey;
  }
  
  @keyframes circle {
    0%   {background-color: #14ae8b; height: 100px; width: 100px;}
    20%  {background-color: #0fbdcc; height: 150px; width: 150px;}
    40%  {background-color: #b916ba; height: 200px; width: 200px;}
    60%  {background-color: #55ecb3; height: 250px; width: 250px;}
    80%  {background-color: #d0481a; height: 150px; width: 150px;}
    100% {background-color: #14ae8b; height: 100px; width: 100px;}
  }
  
  #oval {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    background-color: black;
    border-radius: 100px / 50px;
    float: left;
    animation-name: oval;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
    box-shadow: 5px 5px 5px grey;
  }
  
  @keyframes oval {
    0%   {background-color: #225c3e;}
    20%  {background-color: #f9dcd3;}
    40%  {background-color: #d2b2a7;}
    60%  {background-color: #bda096;}
    80%  {background-color: #937c74; }
    100% {background-color: #225c3e;}
  }
  
  #triangle-up {
    clear: both;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
    animation-name: triangle-up;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
  }
  
  @keyframes triangle-up {
    0%   {
            border-bottom: 100px solid #d5aaf0; 
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
          }
    20%  {
            border-bottom: 150px solid #996699;
            border-left: 75px solid transparent;
            border-right: 75px solid transparent;
        }
    40%  {
            border-bottom: 200px solid #50b2a1;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
          }
    60%  {
            border-bottom: 250px solid #336669;
            border-left: 125px solid transparent;
            border-right: 125px solid transparent;
          }
    80%  {
            border-bottom: 200px solid #330033;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
          }
    100% {
            border-bottom: 100px solid #d5aaf0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
          }
  }
  
  #triangle-down {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid black;
    animation-name: triangle-down;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
  }
  
  @keyframes triangle-down {
    0%   {
            border-top: 100px solid #f5f341; 
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
          }
    20%  {
            border-top: 150px solid #55c2ff;
            border-left: 75px solid transparent;
            border-right: 75px solid transparent;
        }
    40%  {
            border-top: 200px solid #1d77ea;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
          }
    60%  {
            border-top: 250px solid #414040;
            border-left: 125px solid transparent;
            border-right: 125px solid transparent;
          }
    80%  {
            border-top: 200px solid #f5ddd1;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
          }
    100% {
            border-top: 100px solid #f5f341;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
          }
  }
  
  #triangle-left {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid black;
    border-bottom: 50px solid transparent;
    animation-name: triangle-left;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
  }
  
  @keyframes triangle-left {
    0%   {
            border-right: 100px solid #a4cabc; 
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
          }
    20%  {
            border-right: 150px solid #eab364; 
            border-top: 75px solid transparent;
            border-bottom: 75px solid transparent;
        }
    40%  {
            border-right: 200px solid #b2373e; 
            border-top: 100px solid transparent;
            border-bottom: 100px solid transparent;
          }
    60%  {
            border-right: 250px solid #acdb7a; 
            border-top: 125px solid transparent;
            border-bottom: 125px solid transparent;
          }
    80%  {
            border-right: 200px solid #ffffff; 
            border-top: 100px solid transparent;
            border-bottom: 100px solid transparent;
          }
    100% {
            border-right: 100px solid #a4cabc; 
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
          }
  }
  
  #triangle-right {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid black;
    border-bottom: 50px solid transparent;
    animation-name: triangle-right;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
  }
  
  @keyframes triangle-right {
    0%   {
            border-left: 100px solid #c5d6e8; 
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
          }
    20%  {
            border-left: 150px solid #493c3c; 
            border-top: 75px solid transparent;
            border-bottom: 75px solid transparent;
        }
    40%  {
            border-left: 200px solid #f2db74; 
            border-top: 100px solid transparent;
            border-bottom: 100px solid transparent;
          }
    60%  {
            border-left: 250px solid #d64128; 
            border-top: 125px solid transparent;
            border-bottom: 125px solid transparent;
          }
    80%  {
            border-left: 200px solid #feacdd; 
            border-top: 100px solid transparent;
            border-bottom: 100px solid transparent;
          }
    100% {
            border-left: 100px solid #c5d6e8; 
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
          }
  }
  
  #triangle-btm-right {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-bottom: 100px solid black;
    border-left: 100px solid transparent;
    animation-name: triangle-btm-right;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
  }
  
  @keyframes triangle-btm-right {
    0%   {
            border-bottom: 100px solid #c5d6ea;
            border-left: 100px solid transparent;
          }
    20%  {
            border-bottom: 200px solid #1c2722;
            border-left: 200px solid transparent;
          }
    40%  {
            border-bottom: 300px solid #dcca61;
            border-left: 300px solid transparent;
          }
    60%  {
            border-bottom: 400px solid #fa7d08;
            border-left: 400px solid transparent;
          }
    80%  {
            border-bottom: 200px solid #d32746;
            border-left: 200px solid transparent;
          }
    100% {
            border-bottom: 100px solid #c5d6ea;
            border-left: 100px solid transparent;
          }
  }
  
  #triangle-btm-left {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-bottom: 100px solid black;
    border-right: 100px solid transparent;
    animation-name: triangle-btm-left;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
  }
  
  @keyframes triangle-btm-left {
    0%   {
            border-bottom: 100px solid #eefcfd;
            border-right: 100px solid transparent;
          }
    20%  {
            border-bottom: 200px solid #212842;
            border-right: 200px solid transparent;
          }
    40%  {
            border-bottom: 300px solid #000000;
            border-right: 300px solid transparent;
          }
    60%  {
            border-bottom: 400px solid #fa7d08;
            border-right: 400px solid transparent;
          }
    80%  {
            border-bottom: 200px solid #062712;
            border-right: 200px solid transparent;
          }
    100% {
            border-bottom: 100px solid #154b09;
            border-right: 100px solid transparent;
          }
  }
  
  #triangle-top-left {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 100px solid black;
    border-right: 100px solid transparent;
    animation-name: triangle-top-left;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
  }
  
  @keyframes triangle-top-left {
    0%   {
            border-top: 100px solid #000000;
            border-right: 100px solid transparent;
          }
    20%  {
            border-top: 200px solid #585858;
            border-right: 200px solid transparent;
          }
    40%  {
            border-top: 300px solid #c7c7c7;
            border-right: 300px solid transparent;
          }
    60%  {
            border-top: 400px solid #ffffff;
            border-right: 400px solid transparent;
          }
    80%  {
            border-top: 200px solid #cc2626;
            border-right: 200px solid transparent;
          }
    100% {
            border-top: 100px solid #000000;
            border-right: 100px solid transparent;
          }
  }
  
  #triangle-top-right {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 100px solid black;
    border-left: 100px solid transparent;
    animation-name: triangle-top-right;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
  }
  
  @keyframes triangle-top-right {
    0%   {
            border-top: 100px solid #223344;
            border-left: 100px solid transparent;
          }
    20%  {
            border-top: 200px solid #59513a;
            border-left: 200px solid transparent;
          }
    40%  {
            border-top: 300px solid #916e31;
            border-left: 300px solid transparent;
          }
    60%  {
            border-top: 400px solid #c88c27;
            border-left: 400px solid transparent;
          }
    80%  {
            border-top: 200px solid #ffaa1d;
            border-left: 200px solid transparent;
          }
    100% {
            border-top: 100px solid #223344;
            border-left: 100px solid transparent;
          }
  }
  
  #heart {
    clear: both;
    float: left;
    position: relative;
    width: 100px;
    height: 90px;
   }
  
   #heart:before,
   #heart:after {
        position: absolute;
        content: "";
        left: 50px;
        top: 0;
        width: 50px;
        height: 80px;
        background: black;
        border-radius: 50px 50px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      #heart:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }
  
  #talk-bubble {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
        width: 120px;
        height: 80px;
        background: black;
        position: relative;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }
      #talk-bubble:before {
        content: "";
        position: absolute;
        right: 100%;
        top: 26px;
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-right: 26px solid black;
        border-bottom: 13px solid transparent;
      }
  
  #yin-yang {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
        width: 96px;
        box-sizing: content-box;
        height: 48px;
        background: #eee;
        border-color: black;
        border-style: solid;
        border-width: 2px 2px 50px 2px;
        border-radius: 100%;
        position: relative;
      }
      #yin-yang:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        background: #eee;
        border: 18px solid black;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-sizing: content-box;
      }
      #yin-yang:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background: black;
        border: 18px solid #eee;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-sizing: content-box;
      }
  
  #pointer {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
        width: 200px;
        height: 40px;
        position: relative;
        background: black;
      }
      #pointer:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid white;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }
      #pointer:before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid black;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }
  
  #lock {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 8px;
    position: relative;
    width: 18em;
    height: 13em;
    border-radius: 2em;
    top: 10em;
    box-sizing: border-box;
    border: 3.5em solid black;
    border-right-width: 7.5em;
    border-left-width: 7.5em;
    margin: 0 0 6rem 0;
  }
  #lock:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: 2.5em solid black;
    width: 14em;
    height: 12em;
    left: 50%;
    margin-left: -7em;
    top: -12em;
    border-top-left-radius: 7em;
    border-top-right-radius: 7em;
  }
  #lock:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: 1em solid black;
    width: 5em;
    height: 8em;
    border-radius: 2.5em;
    left: 50%;
    top: -1em;
    margin-left: -2.5em;
  }