body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 20px;
    text-align: center;
    animation-name: h1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    text-decoration: underline
}

@keyframes h1 {
    0% {
        background-color: #606668;
        color: #c7eaff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    20% {
        background-color: #516f77;
        color: #b2e2ff;
        font-family: 'Courier New', Courier, monospace;
    }

    40% {
        background-color: #417787;
        color: #8dd4ff;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    60% {
        background-color: #328096;
        color: 	#72caff;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    80% {
        background-color: #0c96bc;
        color: #44b7fd;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    100% {
        background-color: #606668;
        color: #c7eaff;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
}

#square {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: square;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    float: left;
    box-shadow: 5px 5px 5px grey;
}

@keyframes square {
    0% {
        background-color: #cc33ff;
        width: 100px;
        height: 100px;
    }

    20% {
        background-color: #ff66cc;
        width: 200px;
        height: 200px;
    }

    40% {
        background-color: #66ffff;
        width: 300px;
        height: 300px;
    }

    60% {
        background-color: #ffff33;
        width: 400px;
        height: 400px;
    }

    80% {
        background-color: #E5E5E5;
        width: 200px;
        height: 200px;
    }

    100% {
        background-color: #cc33ff;
        width: 100px;
        height: 100px;
    }
}

#rectangle {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    background-color: black;
    animation-name: rectangle;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    clear: both;
    float: left;
    box-shadow: 5px 5px 5px grey;
}

@keyframes rectangle {
    0% {
        background-color: #c90000;
        width: 200px;
        height: 100px;
    }

    20% {
        background-color: #c72033;
        width: 300px;
        height: 150px;
    }

    40% {
        background-color: #c54066;
        width: 400px;
        height: 200px;
    }

    60% {
        background-color: #c36099;
        width: 500px;
        height: 250px;
    }

    80% {
        background-color: #c180cc;
        width: 300px;
        height: 150px;
    }

    100% {
        background-color: #c90000;
        width: 200px;
        height: 100px;
    }
}

#trapezoid {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: 100px solid black;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    animation-name: trapezoid;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    clear: both;
    float: left;

}

@keyframes trapezoid {
    0% {
        border-bottom: 100px solid #0a8913;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }

    20% {
        border-bottom: 200px solid #409dd6;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }

    40% {
        border-bottom: 300px solid #96600d;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
    }

    60% {
        border-bottom: 400px solid #ddb66a;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
    }

    80% {
        border-bottom: 200px solid #d4a207;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }

    100% {
        border-bottom: 100px solid #0a8913;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
}

#parallelogram {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    height: 100px;
    transform: skew(20deg);
    background-color: black;
    float: left;
    clear: both;
    animation-name: parallelogram;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes parallelogram {
    0% {
        background-color: #460a18;
        transform: skew(20deg)
    }

    20% {
        background-color: #350812;
        transform: skew(-40deg)
    }

    40% {
        background-color: #23050c;
        transform: skew(60deg)
    }

    60% {
        background-color: #120206;
        transform: skew(-80deg)
    }

    80% {
        background-color: #000000;
        transform: skew(40deg)
    }

    100% {
        background-color: #460a18;
        transform: skew(20deg)
    }
}

#circle {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    clear: both;
    float: left;
    animation-name: circle;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    box-shadow: 5px 5px 5px grey;
}

@keyframes circle {
    0% {
        background-color: #14ae8b;
        height: 100px;
        width: 100px;
    }

    20% {
        background-color: #0fbdcc;
        height: 150px;
        width: 150px;
    }

    40% {
        background-color: #b916ba;
        height: 200px;
        width: 200px;
    }

    60% {
        background-color: #55ecb3;
        height: 250px;
        width: 250px;
    }

    80% {
        background-color: #d0481a;
        height: 150px;
        width: 150px;
    }

    100% {
        background-color: #14ae8b;
        height: 100px;
        width: 100px;
    }
}

#oval {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    background-color: black;
    border-radius: 100px / 50px;
    float: left;
    clear: both;
    animation-name: oval;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    box-shadow: 5px 5px 5px grey;
}

@keyframes oval {
    0% {
        background-color: #225c3e;
    }

    20% {
        background-color: #f9dcd3;
    }

    40% {
        background-color: #d2b2a7;
    }

    60% {
        background-color: #bda096;
    }

    80% {
        background-color: #937c74;
    }

    100% {
        background-color: #225c3e;
    }
}

#triangle-up {
    clear: both;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
    animation-name: triangle-up;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes triangle-up {
    0% {
        border-bottom: 100px solid #d5aaf0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }

    20% {
        border-bottom: 150px solid #996699;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
    }

    40% {
        border-bottom: 200px solid #50b2a1;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
    }

    60% {
        border-bottom: 250px solid #336669;
        border-left: 125px solid transparent;
        border-right: 125px solid transparent;
    }

    80% {
        border-bottom: 200px solid #330033;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
    }

    100% {
        border-bottom: 100px solid #d5aaf0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }
}

#triangle-down {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid black;
    animation-name: triangle-down;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes triangle-down {
    0% {
        border-top: 100px solid #f5f341;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }

    20% {
        border-top: 150px solid #55c2ff;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
    }

    40% {
        border-top: 200px solid #1d77ea;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
    }

    60% {
        border-top: 250px solid #414040;
        border-left: 125px solid transparent;
        border-right: 125px solid transparent;
    }

    80% {
        border-top: 200px solid #f5ddd1;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
    }

    100% {
        border-top: 100px solid #f5f341;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }
}

#triangle-left {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid black;
    border-bottom: 50px solid transparent;
    animation-name: triangle-left;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes triangle-left {
    0% {
        border-right: 100px solid #a4cabc;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }

    20% {
        border-right: 150px solid #eab364;
        border-top: 75px solid transparent;
        border-bottom: 75px solid transparent;
    }

    40% {
        border-right: 200px solid #b2373e;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
    }

    60% {
        border-right: 250px solid #acdb7a;
        border-top: 125px solid transparent;
        border-bottom: 125px solid transparent;
    }

    80% {
        border-right: 200px solid #ffffff;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
    }

    100% {
        border-right: 100px solid #a4cabc;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }
}

#triangle-right {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid black;
    border-bottom: 50px solid transparent;
    animation-name: triangle-right;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes triangle-right {
    0% {
        border-left: 100px solid #c5d6e8;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }

    20% {
        border-left: 150px solid #493c3c;
        border-top: 75px solid transparent;
        border-bottom: 75px solid transparent;
    }

    40% {
        border-left: 200px solid #f2db74;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
    }

    60% {
        border-left: 250px solid #d64128;
        border-top: 125px solid transparent;
        border-bottom: 125px solid transparent;
    }

    80% {
        border-left: 200px solid #feacdd;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
    }

    100% {
        border-left: 100px solid #c5d6e8;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }
}

#triangle-btm-right {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-bottom: 100px solid black;
    border-left: 100px solid transparent;
    animation-name: triangle-btm-right;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes triangle-btm-right {
    0% {
        border-bottom: 100px solid #c5d6ea;
        border-left: 100px solid transparent;
    }

    20% {
        border-bottom: 200px solid #1c2722;
        border-left: 200px solid transparent;
    }

    40% {
        border-bottom: 300px solid #dcca61;
        border-left: 300px solid transparent;
    }

    60% {
        border-bottom: 400px solid #fa7d08;
        border-left: 400px solid transparent;
    }

    80% {
        border-bottom: 200px solid #d32746;
        border-left: 200px solid transparent;
    }

    100% {
        border-bottom: 100px solid #c5d6ea;
        border-left: 100px solid transparent;
    }
}

#triangle-btm-left {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-bottom: 100px solid black;
    border-right: 100px solid transparent;
    animation-name: triangle-btm-left;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes triangle-btm-left {
    0% {
        border-bottom: 100px solid #eefcfd;
        border-right: 100px solid transparent;
    }

    20% {
        border-bottom: 200px solid #212842;
        border-right: 200px solid transparent;
    }

    40% {
        border-bottom: 300px solid #000000;
        border-right: 300px solid transparent;
    }

    60% {
        border-bottom: 400px solid #fa7d08;
        border-right: 400px solid transparent;
    }

    80% {
        border-bottom: 200px solid #062712;
        border-right: 200px solid transparent;
    }

    100% {
        border-bottom: 100px solid #154b09;
        border-right: 100px solid transparent;
    }
}

#triangle-top-left {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 100px solid black;
    border-right: 100px solid transparent;
    animation-name: triangle-top-left;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes triangle-top-left {
    0% {
        border-top: 100px solid #000000;
        border-right: 100px solid transparent;
    }

    20% {
        border-top: 200px solid #585858;
        border-right: 200px solid transparent;
    }

    40% {
        border-top: 300px solid #c7c7c7;
        border-right: 300px solid transparent;
    }

    60% {
        border-top: 400px solid #ffffff;
        border-right: 400px solid transparent;
    }

    80% {
        border-top: 200px solid #cc2626;
        border-right: 200px solid transparent;
    }

    100% {
        border-top: 100px solid #000000;
        border-right: 100px solid transparent;
    }
}

#triangle-top-right {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 100px solid black;
    border-left: 100px solid transparent;
    animation-name: triangle-top-right;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes triangle-top-right {
    0% {
        border-top: 100px solid #223344;
        border-left: 100px solid transparent;
    }

    20% {
        border-top: 200px solid #59513a;
        border-left: 200px solid transparent;
    }

    40% {
        border-top: 300px solid #916e31;
        border-left: 300px solid transparent;
    }

    60% {
        border-top: 400px solid #c88c27;
        border-left: 400px solid transparent;
    }

    80% {
        border-top: 200px solid #ffaa1d;
        border-left: 200px solid transparent;
    }

    100% {
        border-top: 100px solid #223344;
        border-left: 100px solid transparent;
    }
}

.triangle {
    clear: both;
    float: left;
    font-size: 100px;
    color: #BADA55;
    text-shadow: 10px 10px 10px grey;
    animation-name: text-triangle;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes text-triangle {
    0% {
        color: #e6aeff;
        font-size: 100px;
    }

    20% {
        color: #d283ff;
        font-size: 200px;
    }

    40% {
        color: #be4bff;
        font-size: 300px;
    }

    60% {
        color: #b127ff;
        font-size: 400px;
    }

    80% {
        color: #8900ff;
        font-size: 200px;
    }

    100% {
        color: #e6aeff;
        font-size: 100px;
    }
}